.video-column-wrapper {
  margin-top: 70px;
  .video-item {
    position: relative;
    margin-bottom: .5rem;
    .barrage-screen{
      position: absolute;
      top: 0;
      left: 0;
      color: #fff;
      z-index: 9;
    }
  }
}

// for phone
@media only screen and (max-width: 767px) {
  .video-column-wrapper {
    margin-top: 2.5rem;
  }
}
