.article-container {
    width: 60rem;
    height: auto;
    margin: 4rem auto 0 auto;
    background-color: #fff;
    .head-title {
        text-align: left;
    }
    .article-header-author {
        display: flex;
        align-content: center;
        margin-top: 1.6rem;
        .right {
            margin-left: 1.2rem;
            .author {
                margin-right: .5rem;
                .meta {
                    margin-left: .5rem;
                    padding: 0.2rem .5rem;
                    color: #fff;
                    background: rgba(236, 97, 73, 0.86);
                    font-size: .5rem;
                }
            }
        }
        .author {
            margin-top: .35rem;
        }
        .article-details {
            margin-top: .5rem;
        }
    }
    .article-content {
        margin-top: 2rem;
        .content{
            margin-bottom: 2rem;
            font-size: 1rem;
            letter-spacing: 0.1rem;
            img{
                width: 100% !important;
                height: auto;
            }
        }
    }
}


// for phone
@media only screen and (max-width: 767px) {
    .head-title{
        text-align: center;
    }
    .article-container{
        width: 100%;
        margin: 3rem auto 0 auto;
        .head-title{
            text-align: center;
        }
        .article-content{
            margin-top: .6rem;
            .content{
                margin-bottom: 0;
                font-size: .6rem;
                letter-spacing: 0;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }
        }
        .article-header-author{
            margin-top: 0;
            .right {
                margin-left: .5rem;
            }
        }
    }
    .article-container img{
        width: 100%;
    }
}