.about-container {
}
.about-container-card{
  width: 960px;
  margin: 45px auto 0;
  .card-box{
    width: 28%;
    height: 280px;
    margin-left: 50px;
    margin-top: 32px;
    float: left;
    background-color: #f8f8f8;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    .header{
      width: 90%;
      min-height: 5rem;
      margin: 10px auto 10px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .content, .footer{
      text-align: center;
    }
  }
}


// for phone
@media only screen and (max-width: 767px) {
  .about-container-card{
    width: 100%;
  .card-box{
    width: 45%;
    height: auto;
    margin-left: .6rem;
  }
  }
}