.about-container {
}
.about-container-card{
  width: 960px;
  margin: 45px auto 0;
  .card-box{
    width: 28%;
    height: 280px;
    margin-left: 50px;
    margin-top: 32px;
    padding: 4px 0 10px;
    float: left;
    background-color: #f8f8f8;
    box-shadow: 0 2px 20px rgba(158, 158, 158, 0.4588235294117647);
    .header{
      width: 90%;
      height: 154px;
      margin: 10px auto 10px;
      img{
        width: 100%;
      }
    }
    .content, .footer{
      text-align: center;
    }
  }
}


// for phone
@media only screen and (max-width: 767px) {
  .about-container-card{
    margin: 2rem auto 0;
    width: 100%;
  .card-box{
    width: 45%;
    height: auto;
    margin-left: .6rem;
     padding: .1rem 0 .4rem;
     margin-bottom: 26px;
    margin-top: 10px;
    .header{
      height: 4rem;
    }
  }
  }
}