.barrage-screen{
  position: absolute;
  width: 1000%;
  max-width: 1000px;
  height: 75%;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 11;
  #barrage{
    width: 100%;
    height: 100%;
  }
}