<div class="column-left-container">
  <div class="tab-dashboard" *ngIf="!showSearchResult">
    <ul class="tab-ul">
      <li *ngFor="let nav of navList,let i = index" [ngClass]="{'nav-active': i==idx}" (click)="selectNav(i)">{{nav.title}}</li>
    </ul>
    <div class="line-tab">
    </div>
  </div>
  <!-- 这里应该把列表页 搜索页写成一个组件 没做好 -->
  <div class="search-article-result" *ngIf="showSearchResult">
      <div class="result-box" *ngIf="articleLstBySearch.length; then resultTotal else resultNull">
      </div>
      <ng-template #resultTotal>{{articleLstBySearch.length}}个结果
       </ng-template>
      <ng-template #resultNull>没有找到相关文章
      <br >
        <span>"{{keywords}}"</span>
      </ng-template>
  </div>
  <div class="article-list-container">
      <div class="article-note" *ngFor="let note of articleLstBySearch">
    <div class="article-container-left">
      <div class="article-header-author">
        <div class="author-img">
          <img src="" alt="">
        </div>
        <div class="article-details">
        <span class="author-name">{{note.author}}</span>
        <span class="create-time">{{note.createDate | date:'yyyy-MM-dd'}}</span>
        </div>
      </div>
      <a [routerLink]="['/article']" [queryParams]="{articleId: note.articleId}" routerLinkActive="scaleActive" class="title">{{note.title}}</a>
      <div class="content cursor"  (click)="goNoteDetails(note.article_id, note.title)">{{note.content | StringSlicePipe:100}}</div>
      <div class="meta">
        <a [routerLink]="['/t']" [queryParams]="{name: note.name, id: note.id}" class="note-tag">{{note.name}}</a>
        <a href="#" class="note-view">{{note.page_view}}</a>
        <a href="#" class="note-comment">200</a>
        <a href="#" class="note-like">300</a>
      </div>
    </div>
    <div class="article-container-right">
      <div class="article-thumbnail">
          <img src="https://upload-images.jianshu.io/upload_images/2759192-e06b647fc555892f.jpg?imageMogr2/auto-orient/strip|imageView2/1/w/300/h/240" alt="">
    </div>  
  </div>
    </div>
  </div>
  <!--加载更多-->
  <div class="load-more-container">
    <div class="load-more">
      <span>点击加载更多内容</span>
    </div>
  </div>
  <!-- 提示框 -->
  <div class="error-box" *ngIf="errorSign">
   <div>出错啦</div>
  </div>
</div>  