.video-container {
  position: relative;
  width: 27.5rem;
  height: 19.2rem;
  background: url('../../../../assets/images/television.png') no-repeat;
  background-size: 100% auto;
  video {
    margin-top: 3.719rem;
  }
  .play {
    position: absolute;
    bottom: 6%;
    right: 7%;
  }
}