.wrapper {
  background-color: #fff;
  color: #444;
  header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 3.5rem;
    top: 0;
    left: 0;
  }
}

.header-content {
  display: flex;
  width: 100%;
  height: 3.5rem;
  background-color: #1976d2;
  .logo-container {
    width: 10rem;
    height: 100%;
    float: left;
  }
  .logo {
    width: 3rem;
    height: 3rem;
    margin: auto;
    padding-top: .18rem;
    a img {
      width: 100%;
      height: auto;
    }
  }
  .top-menu-box {
    width: 100%;
  }
  .top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}

// 手机布局
@media only screen and (max-width: 767px) {
  .wrapper {
    header {
      height: auto;
    }
  }
  .header-content {
    height: auto;
    opacity: .85;
    .logo-container {
      display: flex;
      align-items: center;
      width: auto;
      height: auto;
      .logo{
        display: none;
      }
      .phone-menu-btn{
        width: 1.05rem;
        height: 100%;
        margin: 0 .6rem;
        .line{
          position: absolute;
          display: block;
          width: 1rem;
          height: 2px;
          background-color: #fff;
          transform: translateY(0px) translateX(0) rotate(0deg);
          transition: transform ease .3s;
        }
        .middle-line{
          // margin: .5rem 0;
          top: 46%;
        }
        .top-line{
          top: 26%;
        }
        .bottom-line{
          top: 66%;
        }
        .open-action-top{
          transform: translateY(.25rem) translateX(0) rotate(45deg);
        }
        .open-action-bottom{
          transform: translateY(-.45rem) translateX(0) rotate(-45deg);
        }
      
        
      }
    }
    .top-menu {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 100%;
    }
  }
}

.homepage-slider{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(-100%, 0, 0);
  transition: transform .2s cubic-bezier(.25,.1,.25,1);
  background-color: #1975d4; 
  z-index: 2;
}
.slide-in{
  transform: translate3d(0%, 0, 0);
}

.homepage-slider-box{
  .wchat-me{
    margin-top: 4rem;
    text-align: center;
    font-size: .6rem;
    font-weight: normal;
    color: #fff;
  }
  .erweima{
    width: 10rem;
    margin: auto;
    img{
      width: 100%;
      height: auto;
    }
  }

}