<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
  <header>
    <div class="header-content">
      <div class="logo-container">
        <div class="logo">
          <a href="#"><img src="assets/images/logo.png" alt=""></a>
        </div>
        <div class="phone-menu-btn" (click)="tapMenu()">
          <span class="top-line line" [ngClass]="{'open-action-top': openAction}"></span>
          <span class="middle-line line" [style.display]="openAction ? 'none' : 'block'"></span>
          <span class="bottom-line line" [ngClass]="{'open-action-bottom': openAction}"></span>
        </div>
      </div>
      <div class="top-menu-box">
        <top-menu class="top-menu"></top-menu>
      </div>
    </div>
  </header>
  <!-- 侧边slide -->
  <div class="homepage-slider" [ngClass]="{'slide-in': openAction}">
    <div class="homepage-slider-box">
        <h4 class="wchat-me">与我联系</h4>
        <div class="erweima">
            <img alt="微信号zwqszt" src="assets/images/erweima.jpg">
          </div>
      </div>
    </div>
  <router-outlet></router-outlet>
</div>