.wrapper {
  background-color: #fff;
  color: #444;
  header {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 3.5rem;
    top: 0;
    left: 0;
  }
}

.header-content {
  display: flex;
  width: 100%;
  height: 3.5rem;
  background-color: #1495fd;
  .logo-container {
    width: 10rem;
    height: 100%;
    float: left;
  }
  .logo {
    width: 3rem;
    height: 3rem;
    margin: auto;
    padding-top: .18rem;
    a img {
      width: 100%;
      height: auto;
    }
  }
  .top-menu-box {
    width: 100%;
  }
  .top-menu {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }
}

// 手机布局
@media only screen and (max-width: 767px) {
  .wrapper {
    header {
      height: auto;
    }
  }
  .header-content {
    height: auto;
    .logo-container {
      display: flex;
      align-items: center;
      width: auto;
      height: auto;
      .logo{
        display: none;
      }
      .phone-menu-btn{
        width: 1.25rem;
        height: 100%;
        margin: 0 .6rem;
        .line{
          position: absolute;
          display: block;
          width: 1.25rem;
          height: 0.15rem;
          background-color: #fff;
          transform: translateY(0px) translateX(0) rotate(0deg);
          transition: transform ease .3s;
        }
        .middle-line{
          // margin: .5rem 0;
          top: 46%;
        }
        .top-line{
          top: 26%;
        }
        .bottom-line{
          top: 66%;
        }
        .open-action-top{
          transform: translateY(.35rem) translateX(0) rotate(45deg);
        }
        .open-action-bottom{
          transform: translateY(-.45rem) translateX(0) rotate(-45deg);
        }
      
        
      }
    }
  }
}

