.column-right-container{
    width: 26rem;
    margin-left: 5rem;
    float: left;
    .hot-column-item  {
        margin-top: .4rem;
        text-indent: .5rem;
        border-width: 1px;
        border-bottom: 1px dotted #9E9E9E;
    }
    .hot-column-item:hover{
        color: #1495fd;
    }
    .newest-article {
        margin-top: 1.5rem;
        .news-content{
            .news-ul{
                overflow: hidden;
                li {
                    margin-top: .4rem;
                    text-indent: .5rem;
                    border-width: 1px;
                    border-bottom: 1px dotted #9E9E9E;
                    a{
                        color: #212121;
                    }
                    a:hover{
                        color: #1495fd;
                    }
                }
            }
        }
    }
    .technology-channel {
        .channel-header {
            display: flex;
            justify-content: space-between;
        }
        .change-meta{
            width: 5rem;
            background: url('../../../../assets/images/change-meta.png') no-repeat;
            background-size: 2.2rem auto;
            background-position: -5px -3px;
            text-align: right;
        }
        .channel-box{
            width: 20rem;
            height: 20rem;
            margin-top: 4rem;
            margin-left: 3rem;
        }
        .channel-box:hover{
            cursor:move;
        }
        .channel-sz{
            -webkit-transform-style: preserve-3d;
            -moz-transform-style: preserve-3d;
            -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
            transform-origin:70px 70px 00px;
            position: relative;
           transform: rotatex(-202deg) rotatey(46deg) rotatez(0deg);
           transition: all .2s linear;
}
        .channel-sz span{
            transition: all 1s linear;
        }
        .tangent-plane{
            display: block;
            position: absolute;
            width: 140px;
            height: 140px;
            box-sizing: border-box;
            border:1px solid #999;
            /*opacity: 0.7;*/
            text-align: center;
            line-height: 140px;
            font-size: 24px;
            font-weight: 700;
            border-radius: 12%;
        }
        .channel-sz span:nth-child(1){
            background-color: #122b40;
            transform-origin: left;
            transform: rotatey(-90deg) translatex(-70px);//左视图
        }
        .channel-sz span:nth-child(2){
            background-color: #122b40;
            transform-origin: right;
            transform: rotatey(90deg) translatex(70px) ;//右视图
        }
        .channel-sz span:nth-child(3){
            background-color: #122b40;
            transform-origin: top;
            transform: rotatex(90deg) translatey(-70px) ;//上视图
        }
        .channel-sz span:nth-child(4){
            background-color: #122b40;
            transform-origin: bottom;
            transform: rotatex(-90deg) translatey(70px);//下视图
        }
        .channel-sz span:nth-child(5){
            background-color: #122b40;
            transform: translatez(-70px);//后视图
        }
        .channel-sz span:nth-child(6){
            background-color: #122b40;
            transform: translatez(70px);//前视图
        }
 
        .channel-sz:hover span{
            // opacity: 0.3;
        }
        .channel-sz:hover{
            animation-play-state:paused;//设置动画暂停
        }
    }
}

// common css
.column-right-h3 {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: .8rem;
    text-indent: .5rem;
    border-radius: 1rem;
    background: #1495fd;
    color: rgba(0, 0, 0, 0.65);
}

.column-right-color {
    color: #212121;
}