<div class="column-right-container">
  <div class="hot-column">
    <h3 class="hot-column-header column-right-h3">
      热门文章
    </h3>
    <div class="hot-column-list">
      <div class="hot-column-item column-right-color" *ngFor="let hotNote of hotNotes, let i = index">{{i+1}}.{{hotNote.title}}</div>
    </div>
  </div>
  <div class="newest-article">
    <div class="newest-article-container">
      <h3 class="column-right-h3">最新新闻</h3>
      <div class="news-content">
        <ul class="news-ul">
          <li *ngFor="let newsItem of news">
            <a>{{newsItem.title | StringSlicePipe: 20}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--技术频道-->
  <div class="technology-channel" (mousemove)="mouseMove($event)" (mousedown)="mouseDown($event)" (mouseup)="mouseUp($event)">
    <div class="channel-header">
        <span>技术频道</span>
        <span class="change-meta" (click)="changeMeta()">换一批</span>
    </div>
    <div class="channel-box">
        <div class="channel-sz">
            <span *ngFor="let channel of channels" class="tangent-plane"><a>{{channel}}</a></span>
        </div>
    </div>
  </div>
</div>