<div class="home-container">
  <div class="home-banner">
    <nz-carousel [nzEffect]="'scrollx'" nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array">
        <img [src]="array" alt="">
      </div>
    </nz-carousel>
  </div>
  <div class="home-content">
    <div class="home-content-left">
      <!-- 个人信息 -->
      <div class="left-personal-information">
        <div class="avatar">
          <img src="{{avatar}}">
        </div>
        <div class="details">
          <ul>
            <li>
              <span>文章</span>
              <span>{{userInfo}}</span>
            </li>
            <li>
              <span>文章</span>
              <span>123</span>
            </li>
            <li>
              <span>文章</span>
              <span>123</span>
            </li>
          </ul>
        </div>
      </div>
      <!-- 归档 -->
      <div class="left-file-technology">
        <div class="technology-header">
          <h3>未来世界的幸存者</h3>
          <!-- 折叠面板 -->
        </div>
        <div class="technology-main">
          <!-- 折叠面板 -->
          <nz-collapseset>
            <nz-collapse *ngFor="let panel of panels" [nzTitle]="panel.name" [nzActive]="panel.active">
              <p>{{panel.name}} 的内容</p>
              <div *ngIf="panel.childPanel&&panel.childPanel.length>0">
                <nz-collapseset>
                  <nz-collapse *ngFor="let childPanel of panel.childPanel" [nzTitle]="childPanel.name" [nzActive]="childPanel.active">
                    <p>{{childPanel.name}} 的内容</p>
                  </nz-collapse>
                </nz-collapseset>
              </div>
            </nz-collapse>
          </nz-collapseset>
        </div>
      </div>
    </div>
    <div class="home-content-center">
      <!-- main -->
      <div class="center-vieo-container">
        <div class="video-main">
          <app-myvideo></app-myvideo>
        </div>
        <div class="video-desc">
          <div class="desc-title">
            <h3>那些年我们追过的女孩</h3>
          </div>
          <div class="desc-body">
            <p>又回到最初的起点 记忆中你青涩的脸 我们终于 来到了这一天 桌垫下的老照片 无数回忆连结 今天男孩要赴女孩最后的约 又回到最初的起点 呆呆地站在镜子前 笨拙系上红色领带的结
            </p>
            <p>将头发梳成大人模样 穿上一身帅气西装 等会儿见你一定比想像美 好想再回到那些年的时光 回到教室座位前后 故意讨你温柔的骂 黑板上排列组合 你舍得解开吗 谁与谁坐他又爱著她 那些年错过的大雨 那些年错过的爱情 好想拥抱你
            </p>
          </div>
          <div class="desc-more">
            <span><a href="#">更多阅读</a></span>
          </div>
        </div>
      </div>
      <div class="center-picture-set">
        <div class="pic-box" *ngFor="let index of arrays">
          <img [src]="array" alt="">
        </div>
      </div>
      <nz-pagination [nzPageIndex]="1" [nzTotal]="50" class="pagination"></nz-pagination>
    </div>
    <div class="home-content-right">
      <!-- 日历 -->
      <div class="right-calendar-box">
        <nz-calendar class="calendar" [nzLocale]="'zh-cn'" [nzFullScreen]="false" >
          <ng-template #dateCell let-day>
            <nz-badge [nzStatus]="'success'" [nzText]="'Sunday'" *ngIf="(day.date|date:'EEE')==='Sun'"></nz-badge>
          </ng-template>
        </nz-calendar>
      </div>
    </div>
  </div> 
</div>
