<ul class="navigation" [style.opacity]="_homeService.getShowPhoneSearchBtn() ? 0 : 1">
  <li class="menu-item" nz-menu-item routerLink="/home">
    <i class="anticon anticon-mail"></i>首页</li>
  <li class="menu-item" nz-menu-item nzDisabled routerLink="/video">
    <i class="anticon anticon-appstore"></i>作品 </li>
  <li class="menu-item" nz-submenu routerLink="/article">
    <span title class="portfolio">
      <i class="anticon anticon-setting"></i>随笔</span>
  </li>
  <li class="menu-item" nz-menu-item routerLink="/about">标签</li>
  <li class="menu-item" nz-menu-item nzDisabled routerLink="/article">
    <i class="anticon anticon-appstore"></i>专栏</li>
</ul>
<div class="search-inp-phone" [ngClass]="{'show-search-btn' : _homeService.getShowPhoneSearchBtn()}">
  <input placeholder="输入你想要的内容" [(ngModel)]="searchValue" style="width: 100%;" (click)="onSearch($event)" (blur)="hideSearchInput()">
</div>
<div class="search-article-phone" (click)="showSearchInput(searchValue)">
  <img src="assets/images/search.png" alt="搜索">
</div>
<div class="search-container">
  <div class="write-btn" (click)="writeArticle()">
    写文章
  </div>
  <input placeholder="输入你想要的内容" class="search-inp-pc" [(ngModel)]="searchValue" style="width: 30rem;" (keyup)="onSearch($event)" #pcSearchInput>
  <div class="search-list" *ngIf="searchValue">
    <ul>
      <li *ngFor="let contact of (contacts | selectContact : searchValue)">{{contact.title}}</li>
    </ul>
  </div>
</div>